{% extends 'base.html' %}

{% block content %}

        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Imagem do produto</th>
                <th>Produto</th>
                <th>Data de inserção na loja</th>
                <th>Colunas dinâmicas</th>
                <th>Total de vendas</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Imagem do produto</th>
                <th>Produto</th>
                <th>Data de inserção na loja</th>
                <th>Colunas dinâmicas</th>
                <th>Total de vendas</th>
            </tr>
        </tfoot>
    </table>


    </div>

{% endblock %}

{% block js %}

{% endblock js %}
